[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
anytree = "*"
yaspin = "*"
aiohttp = "*"
urllib3 = "*"
docopt = "*"
license-expression = "*"
pipdeptree = "*"
questionary = "*"
typing-extensions = "==3.7.4"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
flake8 = "*"
mypy = "*"

[pipenv]
allow_prereleases = true

[scripts]
lint = "flake8 . --count --max-complexity=10 --max-line-length=127 --statistics"
check-types = "mypy ./license-sh"
test = "python -m unittest"
