[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
anytree = "*"
yaspin = "*"
aiohttp = "*"
urllib3 = "*"
docopt = "*"
license-expression = "*"
pipdeptree = "*"
questionary = "*"

[dev-packages]
black = "*"
mkdocs = "*"
mkdocs-material = "*"

[pipenv]
allow_prereleases = true
